.TaskCard {
    min-height: 50px;
    position: relative;
    height: auto;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 2px gray;
    transition-timing-function: ease-in-out;
    transition: 1s;
    box-sizing: border-box;
    margin: 5px 0;
}
/* 
.TaskCard:hover {
    box-shadow: 0 4px 8px #4367df;
    transition-timing-function: ease-in-out;
    transition: 1s;
} */

.TaskFieldsGroup {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* border: 1px solid red; */
}

.TaskFieldsGroup>* {
    width: 100%;
}

.TaskTitle {
    font-weight: bolder;
    font-size: large;
}

.TaskStatus {
    display: flex;
    justify-content: end;
    position: relative;
}
.TaskComplete::before{
    position: absolute;
    top: calc(50% - 1rem);
    left: 50%;
    content: "\2713";
    font-weight: bold;
    color: lightgreen;
    text-shadow: 0 0 3px lightgreen;
}

.TaskField {
    position: relative;
    padding: 10px 0;
    overflow: hidden;
    box-sizing: border-box;
}

.TaskDescription {
    width: 100%;
    text-align: justify;
    position: relative;
    min-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition-timing-function: ease-in-out;
    transition: 1s;
}

.TaskCard:hover .TaskDescription {
    height: fit-content;
    overflow: hidden;
    text-overflow: none;
    white-space: normal;
}

.TaskButtons{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.TaskButtonsContainer{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 400px;
}
.Btn{
    cursor: pointer;
    padding: 10px;
    min-width: 50px;
    font-weight: bold;
    border-radius: 8px;
    outline: none;
    border: none
}
.PrimaryBtn{
    color: white;
    background-color: #557dff;
    transition-timing-function: ease-in;
}
.PrimaryBtn:hover{
    transition: 1s;
    box-shadow: 0 4px 8px #557dff;
}
.DangerBtn{
    color: white;
    background-color: #ff5555;
    transition-timing-function: ease-in;
}
.DangerBtn:hover{
    transition: 1s;
    box-shadow: 0 4px 8px #ff5555;
}
.Warnbtn{
    color: white;
    background-color: #e0b61f;
    transition-timing-function: linear;
}
.Warnbtn:hover{
    transition: 1s;
    box-shadow: 0 4px 8px #e0b61f;
}