.LandingPage {
    display: flex;
    justify-content: center;
    align-items: center;
}
.TodoPageContainer {
    width: 80%;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.NewTasksPage{
    height: 180px;
}
.TaskListPage{
    flex-grow: 0;
    flex-shrink: 1;
    height: (100% - 200px);
}